[TOC]
# MYSQL 学习笔记
## 初级
### 1. 连接mysql

```mysql
mysql -h localhost -u 用户名 -p 密码
mysql -h localhost -u root -p root
```

### 2.1 创建数据库

```mysql
create database 数据库名;
create database db1;

```

### 2.1 查看数据库

```mysql
show databases;
```

### 3 选中创建的数据库

```mysql
use 数据库名
use db1
```

### 4.1创建数据表

```mysql
create table 数据表名 (
    字段1 字段数据类型 字段其他属性，
    字段2 字段数据类型 字段其他属性，
    ...
    字段N 字段数据类型 字段其他属性

) 数据库引擎类型，数据表字符设定字段;

create table test(
    id int(10) not null auto_increment primary key ,
    name varchar(50),
    age int(10)
) engine = 'innodb' charset = 'utf8';
```

### 4.2 查看数据表

```mysql
show tables;
```

### 4,3 查看表结构

```mysql
describe tablename;
describe test;
```

### 5 insert 操作

```mysql
insert [into] 表名 [(列名1, 列名2, 列名3, ...)] values (值1, 值2, 值3, ...);
insert into test(id,name,age) values(1, "王刚", 20);
```

### 6 update 操作

```mysql
update 表名称 set 列名称=新值 where 更新条件;
update test set name="李刚" where id=1;
```

### 7 delete 操作

```mysql
delete from 表名称 where 删除条件;
delete from test where id=1;
```

### 8 简单select

```mysql
select 列名称 from 表名称 [查询条件];
select name,age from test where id = 1;
```

### 9 理解查询模型

```
```

### 10 NULL介绍

```
```

### 11 GROUP分组

```mysql
select 列名称 from 表名称 [查询条件] group by [分组条件];


```

### 12 having 筛选

```mysql
select 列名称 from 表名称 [查询条件] group by [分组条件] having [筛选条件];
```

### 13 ORDER BY 排序

```mysql
select 列名 from 表名 order by 列名; 
select name from test order by age;
```

### 14 LIMIT 用法

```mysql
select * from 表名 limit 起始行,偏移量
select * from test limit 0,2; 

```

### 15 子句查询的陷阱

```mysql

```

### 16 WHERE 型子句

```mysql
SELECT column FROM table WHERE column operator value;

select * from test where age in(21,23);

```

### 17 FROM 型子句

```mysql

```

### 18 EXISTS 型子句

```mysql

```

### 19 1+N查询

```mysql

```

### 20 内联查询

```mysql

```

### 21 左右连接查询

```mysql

```

### 22 连接查询

```mysql

```

### 23 union 查询

```mysql

```

### 24 建表过程

```mysql

```

### 25 整型列

```mysql

```

### 26 整型列的属性

```mysql

```

### 27 浮点列与定点列

```mysql

```

### 28 字符型列

```mysql

```

### 29 日期时间型列

```mysql

```

### 30 列的默认值

```mysql

```

### 31 主键与自增

```mysql

```

### 32 综合建表案例

```mysql

```

### 33 列的增删改

```mysql

```

### 34 视图VIEW

```mysql

```

### 35 视图ALGROITHM

```mysql

```

### 36 常用表管理

```mysql

```

### 37 存储引擎的概念

```mysql

```

### 38 字符集与乱码

```mysql

```

### 39 索引概念

```mysql

```

### 40 索引操作语法

```mysql

```

### 41 常用函数

```mysql

```

### 42 常用函数

```mysql

```

### 43 事务概念

```mysql

```

## 高级
### 触发器

```mysql

```

### 触发器变量

```mysql

```

### 行变量

```mysql

```

### 触发器做简单编程

```mysql

```

### for each row 的作用

```mysql

```

### 存储过程概念

```mysql

```

### 引入变量与控制结构

```mysql

```

### 存储过程的参数传递

```mysql

```

### 过程中使用循环结构

```mysql

```

### 何为输出型参数

```mysql

```

### CASE结构的用法

```mysql

```

### REPEAT 循环结构

```mysql

```

### 游标的概念

```mysql

```

### 游标循环

```mysql

```

### DECLARE处理条件

```mysql

```

### 对比CONTINUE与EXIT的区别

```mysql

```

### 游标循环读取的正确逻辑

```mysql

```

### MySQL权限检查原理

```mysql

```

### 全局授权与收回

```mysql

```

### 库及表级别授权与收回

```mysql

```

### 主从配置过程

```mysql

```

### 启动主从

```mysql

```

```mysql

```

```mysql

```

```mysql

```

```mysql

```

```mysql

```

```mysql

```

```mysql

```

```
```

```
```